.card {
    width:430px;
    border: 2px solid red;
    border-radius: 20px;
    overflow: hidden;
}
.card__picture {
    background-image: url("http://placekitten.com/1000/1000");
    background-size: cover;
    border-radius: 20px;
    margin: 10px;
    height: 210px;
}

.card__caption {
    background-color: blueviolet;
    height: 100px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.profile {
    display: flex;
}

.profile__picture {
    background-color: red;
    width: 50px
}

.profile__name {
    background: yellow;
    width: 50px;
}

.attachment {
    display: flex;
}

.attachment__icon {
    background-color: green;
    width: 50px;
}

.attachment__number {
    background-color: blue;
    width: 50px;
}