.card {
    width:400px;
    border: 2px solid red;
    border-radius: 10px;
    overflow: hidden;
}
.card__picture {
    background-image: url("http://placekitten.com/1000/1000");
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    height: 210px;
}

.card__caption {
    background-color: blueviolet;
    height: 80px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
    height: 80px;
}
.profile {
    display: flex;
}

.profile__picture {
    width: 80px;
    position: relative;
}

.image {
    border-radius: 50%;
    height: 45px;
    width: 45px;
    background-size: cover;
    background-image: url("card_pic.jpg");
    position: absolute;
    top: 10px;
    right: 10px;
}

.profile__name {
    background: yellow;
    width: 50px;
}

.attachment {
    display: flex;
}

.attachment__icon {
    background-color: green;
    width: 50px;
}

.attachment__number {
    background-color: blue;
    width: 50px;
}